.about {
  padding: 15rem 0 10rem;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-content-box {
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-lrg) {
    margin-top: 1rem;
  }

  @media only screen and (max-width: $bp-sm) {
    margin-top: 5rem;
    flex-direction: column;
  }
}

.pro-pic {
  z-index: 1;
}

.pro-content {
  width: 41%;
  margin-left: 5rem;
  padding-top: 2rem;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 2px;
  z-index: 1;

  @media only screen and (max-width: $bp-lrg) {
    width: 46%;
    padding-top: 4rem;
  }

  @media only screen and (max-width: $bp-sm) {
    width: 90%;
    margin-top: -16rem;
    padding-top: 0;
    margin-left: 0;
  }
}

.about-word {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14.4rem;
  letter-spacing: 13px;
  color: $bg-grey;
  margin-left: 7.5rem;
  margin-top: -22rem;
  opacity: 0.7;
  align-self: flex-start;

  @media only screen and (max-width: $bp-xlrg) {
    margin-left: 8.5rem;
  }

  @media only screen and (max-width: $bp-ibt) {
    margin-top: -22.1rem;
    margin-left: 4.5rem;
  }

  @media only screen and (max-width: $bp-lrg) {
    margin-top: -19.2rem;
    margin-left: 0rem;
    font-size: 12rem;
  }

  @media only screen and (max-width: $bp-sm) {
    font-size: 9rem;
    transform: rotate(-90deg);
    margin-top: -40rem;
    margin-left: 7rem;
    margin-bottom: 20rem;
  }
}

.about-bg-rect {
  margin-top: -35rem;
  height: 40rem;
  width: 60rem;
  border: 1px solid $color-primary;

  -webkit-clip-path: polygon(
    9.8% 0%,
    100% 0,
    100% 100%,
    0 100%,
    0 87.1%,
    46% 87.1%,
    46% 11%,
    9.8% 11%
  );
  clip-path: polygon(
    9.8% 0%,
    100% 0,
    100% 100%,
    0 100%,
    0 87.1%,
    46% 87.1%,
    46% 11%,
    9.8% 11%
  );

  @media only screen and (max-width: $bp-xlrg) {
    -webkit-clip-path: polygon(
      13.2% 0%,
      100% 0,
      100% 100%,
      0 100%,
      0 87.1%,
      46% 87.1%,
      46% 11%,
      13.2% 11%
    );
    clip-path: polygon(
      13.2% 0%,
      100% 0,
      100% 100%,
      0 100%,
      0 87.1%,
      46% 87.1%,
      46% 11%,
      13.2% 11%
    );
  }

  @media only screen and (max-width: $bp-ibt) {
    margin-left: 7rem;
    width: 65rem;
    -webkit-clip-path: polygon(
      13.7% 0%,
      100% 0,
      100% 100%,
      0 100%,
      0 87.1%,
      46% 87.1%,
      46% 11%,
      13.7% 11%
    );
    clip-path: polygon(
      13.7% 0%,
      100% 0,
      100% 100%,
      0 100%,
      0 87.1%,
      46% 87.1%,
      46% 11%,
      13.7% 11%
    );
  }

  @media only screen and (max-width: $bp-lrg) {
    margin-left: 7rem;
    width: 55rem;
    -webkit-clip-path: polygon(
      13% 0%,
      100% 0,
      100% 100%,
      0 100%,
      0 87.1%,
      46% 87.1%,
      46% 11%,
      13% 11%
    );
    clip-path: polygon(
      13% 0%,
      100% 0,
      100% 100%,
      0 100%,
      0 87.1%,
      46% 87.1%,
      46% 11%,
      13% 11%
    );
  }

  @media only screen and (max-width: $bp-sm) {
    border: 0px solid #fff;
  }
}
